<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flight Form</title>
</head>
<body>
<h1>Flight Form</h1>
<form th:action="@{/processflight}" th:object="${flight}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>
        <select th:field="*{airline}">
            <option th:value="AA" th:text="AA"></option>
            <option th:value="XX" th:text="XX"></option>


        </select>
    </label>
    <input type="hidden" th:field="*{leaving_date}" />
    <label>
        <select th:field="*{leaving_airport}">
        <option th:value="DC" th:text="DC"></option>
            <option th:value="NY" th:text="NY"></option>
            <option th:value="LA" th:text="LA"></option>

        </select>
    </label>
    <label>
        <select th:field="*{arrival_airport}">
            <option th:value="NY" th:text="NY"></option>
            <option th:value="DC" th:text="DC"></option>
            <option th:value="LA" th:text="LA"></option>
        </select>
    </label>

    <input type="text" placeholder="price" th:field="*{price}" />

    <input type="date" name="leaving_date" />

    <input type="submit" onclick="confirmation()" value="Submit">
</form>
<!--<script th:src="@{/js/alerts.js}"></script>-->
</body>
</html>