<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flight Form</title>
</head>
<body>
<h1>Flight Form</h1>
<form th:action="@{/processflight}" th:object="${flight}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>
        <select th:field="*{airline}">
            <option th:value="AA" th:text="AA"></option>
            <option th:value="XX" th:text="XX"></option>
        </select>
    </label>

    <label>
        <select th:field="*{leavingairport}">
        <option th:value="DC" th:text="DC"></option>
            <option th:value="NY" th:text="NY"></option>
            <option th:value="LA" th:text="LA"></option>
        </select>
    </label>
    <label>
        <select th:field="*{arrivalairport}">
            <option th:value="NY" th:text="NY"></option>
            <option th:value="DC" th:text="DC"></option>
            <option th:value="LA" th:text="LA"></option>
        </select>
    </label>


    <input type="text" placeholder="price" th:field="*{price}" />

    <input type="hidden" th:field="*{leavingdate}" />

    <label>
    <input type="date" name="leavingdate"/>
    </label>
    <input type="submit" onclick="confirmation()" value="Submit">
</form>
<!--<script th:src="@{/js/alerts.js}"></script>-->
</body>
</html>