
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/processsearch}" method="post">
    <select name="category">
        <option value="L">leavingairport</option>
        <option value="A">arrivalairport</option>
        <option value="AA">airline</option>
       <!-- <option value="B">Both</option>-->
    </select>
    <input type="text" placeholder="Search.." name="search">
    <button type="submit">Search</button>
</form>
<a href="/add">add</a>
<h2>All Flights</h2>
<div th:each="flight : ${flights}">
    <p th:text="${flight.airline}+${flight.id}"></p>
    <p th:text="${#dates.format(flight.leavingdate, 'dd-MMM-yyyy')}"></p>
    From: <p th:text="${flight.leavingairport}"></p>
    To: <p th:text="${flight.arrivalairport}"></p>
    Price: $<p th:text="${flight.price}"></p>

</div>
</body>
</html>